body {
    background-color: #273238 ;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}
h1 {
    text-align: center;
    margin-top: 29px;
    font-size: 67px;
    color: #698593;
    background-color: #fff;
    font-family: Impact, Charcoal, sans-serif;
}
p {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; 
    font-size: 13.6px;
    color: #abb2b9;
}	

.encabezado {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    color: #E6CBBF; /* Color para el texto */
    text-transform: uppercase;
    position: relative;
}
.letra-grande {
    font-size: 28px; /* Tamaño más grande para la primer letra */
    line-height: 1; /* Alineación con el texto restante */
    color: #E6CBBF; /* Mantiene el mismo color del texto */
}
.img-aspiradora {
    width: 30%;
    height: 70%;
    position: relative;
    margin-left: 3%;
    border-width: 3px;
    border-color #E6CBBF;
    border-style: solid;
}
.encabezado2 {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    color: #A1C1CB; /* Color para el texto */
    text-transform: uppercase;
    position: relative;
}
.letra-grande2 {
    font-size: 28px; /* Tamaño más grande para la primer letra*/
    line-height: 1; /* Alineación con el texto restante */
    color: #A1C1CB; /* Mantiene el mismo color del texto */
}
.img-celulares {
    width: 30%;
    height: 70%;
    position: relative;
    margin-left: 3%;
    border-width: 3px;
    border-color:#A1C1CB;
    border-style: solid;
}
.encabezado3 {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    color: #BCBDBF; /* Color para el texto */
    text-transform: uppercase;
    position: relative;
}
.letra-grande3 {
    font-size: 28px; /* Tamaño más grande para la primer letra */
    line-height: 1; /* Alineación con el texto restante */
    color: #BCBDBF /* Mantiene el mismo color del texto */
}
.img-consolas {
    width: 30%;
    height: 70%;
    position: relative;
    margin-left: 3%;
    border-width: 3px;
    border-color: #BCBDBF;
    border-style: solid;
}
.encabezado4 {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    color: #8C94A1 ; /* Color para el texto */
    text-transform: uppercase;
    position: relative;
}
.letra-grande4 {
    font-size: 28px; /* Tamaño más grande para la primer letra */
    line-height: 1; /* Alineación con el texto restante */
    color: #8C94A1 /* Mantiene el mismo color del texto */
}
.img-home-theaters {
    width: 30%;
    height: 70%;
    position: relative;
    margin-left: 3%;
    border-width: 3px;
    border-color:#8C94A1;
    border-style: solid;
}
.encabezado5 {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    color: #B2B2AA ; /* Color para el texto */
    text-transform: uppercase;
    position: relative;
}
.letra-grande5 {
    font-size: 28px; /* Tamaño más grande para la primer letra */
    line-height: 1; /* Alineación con el texto restante */
    color: #B2B2AA /* Mantiene el mismo color del texto */
}
.img-televisores {
    width: 30%;
    height: 70%;
    position: relative;
    margin-left: 3%;
    border-width: 3px;
    border-color: #B2B2AA;
    border-style: solid;
}
