* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2d3842 ;
    font-family: Arial, sans-serif;
    color: #fff;
    padding: 1em;
}
h1 {
    text-align: center;
    margin-top: 29px;
    margin-bottom: 29px;
    font-size: 67px;
    color: #637d96;
    background-color: #fff;
    font-family: Impact, Charcoal, sans-serif;
}

h2 {
    margin-top: 0.5em;
}

p {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; 
    font-size: 13.6px;
    color: #abb2b9;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}	

img {
    margin: 1em;
    width: 100%;
    border-style: solid;
    border-color: #E8D5C4;
    border-width: 3px;
}

.encabezado {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    color: #E8D5C4; /* Color para el texto */
    text-transform: uppercase;
    position: relative;
}
.letra-grande {
    font-size: 28px; /* Tamaño más grande para la primer letra */
    line-height: 1; /* Alineación con el texto restante */
    color: #E8D5C4; /* Mantiene el mismo color del texto */
}
.img-aspiradora,
.img-celulares,
.img-consolas,
.img-home-theaters,
.img-televisores {
    width: 30%;
    height: auto;
}
.encabezado2 {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    color: #addee6; /* Color para el texto */
    text-transform: uppercase;
    position: relative;
}
.letra-grande2 {
    font-size: 28px; /* Tamaño más grande para la primer letra*/
    line-height: 1; /* Alineación con el texto restante */
    color: #addee6; /* Mantiene el mismo color del texto */
}

.encabezado3 {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    color: #bdc3c4; /* Color para el texto */
    text-transform: uppercase;
    position: relative;
}
.letra-grande3 {
    font-size: 28px; /* Tamaño más grande para la primer letra */
    line-height: 1; /* Alineación con el texto restante */
    color: #bdc3c4 /* Mantiene el mismo color del texto */
}

.encabezado4 {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    color: #778a8c ; /* Color para el texto */
    text-transform: uppercase;
    position: relative;
}
.letra-grande4 {
    font-size: 28px; /* Tamaño más grande para la primer letra */
    line-height: 1; /* Alineación con el texto restante */
    color: #778a8c /* Mantiene el mismo color del texto */
}

.encabezado5 {
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    font-family: Arial, sans-serif;
    color: #b3b7b8 ; /* Color para el texto */
    text-transform: uppercase;
    position: relative;
}
.letra-grande5 {
    font-size: 28px; /* Tamaño más grande para la primer letra */
    line-height: 1; /* Alineación con el texto restante */
    color: #b3b7b8 /* Mantiene el mismo color del texto */
}


@media (max-width: 768px) {
    .img-aspiradora, .img-celulares, .img-consolas, .img-home-theaters, .img-televisores {
        width: 90%;
        height: auto;
    }
}
